
a, button, input, label {
  cursor: pointer
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* CSS */

/* Mobile */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

/* CSS variables */
:root {
  --color-bg: ;
  --color-primary: ;
  --color-light:
  --first-size: ;
  --second-size: ;
}

/* CSS */

body {
  height: 50vw;
}

a {
  color: #9c4967;
}

.head {
  height: 20vw;
  width: 98vw;
  padding: 2vw;
  border: 1px solid #9c4967;
}


.innen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.inhalt {
  height: 160vw;
  width: 83vw;
  padding: 2vw;
  border: 1px solid #9c4967;
  margin-bottom: 2vw;
}

.nav {
  height: 55vw;
  width: 15vw;
  padding: 2vw;
  border: 1px solid #9c4967;
  font-family: times;
  font-size: 20px;
  height: 160vw;
  margin-bottom: 2vw;
}


.text {
  font-size: 19px;
  font-family: times;
  color: #9c4967;
  width: 50vw;
}

.text_zitat {
  font-size: 10px;
  font-family: times;
  margin-left: 20px;
}


.text_weit {
  font-size: 19px;
  font-family: times;
  margin-left: 20px;
}


.title {
  font-size: 12px;
  font-family: times;
  color: #9c4967;
  margin-left: 20vw;
}

.b {
  border: 0.1px solid lightgrey;
  padding: 5px;
}

a {
  text-decoration: none;
}

.images {
  width: 100px;
  height: 130px;
}
